<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toyo.gp.dao.ImageMapper">

    <insert id="insertImage" parameterType="Image">
        INSERT
        INTO image(koujiId,imagename,trkDate,updDate)
        VALUE (#{koujiId},#{imagename},#{trkDate},#{updDate})
    </insert>


    <delete id="deleteImageById" parameterType="string">
        DELETE FROM image where id=#{id}
    </delete>

    <delete id="deleteImageByImagename" parameterType="string">
        DELETE FROM image where imagename=#{imagename}
    </delete>

    <select id="findImagesById" parameterType="String" resultType="Image">
        SELECT *
        FROM image
		WHERE id=#{id}
    </select>

    <select id="findAllImagesByKoujiId" parameterType="String" resultType="Image">
        SELECT * FROM image where koujiId=#{koujiId} order by id;
    </select>

    <select id="getLastInsertId" resultType="int">
        select id from image ORDER BY id DESC limit 1
    </select>

</mapper>