<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toyo.gp.dao.KoujiImageMapper">

    <insert id="insertKoujiImage" parameterType="KoujiImage">
        INSERT
        INTO kouji(filename,filepath,fileid,filethumbnail,placename,placeshortname,valveimagenum,decideimagenum,sizeimagenum,commend,trkDate,updDate)
        VALUE (#{filename},#{filepath},#{fileid},#{filethumbnail},#{placename},#{placeshortname},#{valveimagenum},#{decideimagenum},#{sizeimagenum},#{commend},#{trkDate},#{updDate})
    </insert>

    <insert id="addImageByImage" parameterType="KoujiImage">
        INSERT
        INTO kouji(imagesyu, kaiteino, imagename, papersize, trkDate, bikou)
        VALUES (#{imagesyu}, #{kaiteino}, #{imagename}, #{papersize}, #{trkDate}, #{bikou})
    </insert>
    
    <select id="findIdByObject" parameterType="string" resultType="int">
        SELECT id FROM kouji WHERE imagename=#{object}
    </select>

    <update id="updateSyuByImagename" parameterType="KoujiImage">
        UPDATE kouji SET imagesyu=#{imagesyu} WHERE imagename=#{imagename}
    </update>

    <delete id="deleteKoujiImageById" parameterType="string">
        DELETE FROM kouji where id=#{id}
    </delete>

    <select id="findImagesById" parameterType="String" resultType="KoujiImage">
        SELECT *
        FROM kouji
		WHERE id=#{id}
    </select>

    <select id="findKoujiImagesByKouji" parameterType="KoujiImage" resultType="KoujiImage">
        SELECT *
        FROM kouji
        WHERE placename like "%${placename}%" and
              placeshortname like "%${placeshortname}%" and
              valveimagenum like "%${valveimagenum}%" and
              decideimagenum like "%${decideimagenum}%" and
              sizeimagenum like "%${sizeimagenum}%"
    </select>


    <update id="updateKoujiImageById" parameterType="KoujiImage">
        UPDATE kouji
        SET filename=#{filename},
        filepath=#{filepath},
        fileid=#{fileid},
        filethumbnail=#{filethumbnail},
        placename=#{placename},
        placeshortname=#{placeshortname},
        valveimagenum=#{valveimagenum},
        decideimagenum=#{decideimagenum},
        sizeimagenum=#{sizeimagenum},
        commend=#{commend},
        updDate=#{updDate}
        WHERE id=#{id}
    </update>

    <select id="findAllImages" resultType="KoujiImage">
        SELECT * FROM kouji order by updDate DESC limit 50;
    </select>

    <select id="getLastInsertId" resultType="int">
        select id from kouji ORDER BY id DESC limit 1
    </select>

</mapper>